* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  background: black;
}

h1 {
  color: white;
  font-size: 100px;
  margin-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: white;
  font-size: x-large;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  color: white;
  font-size: large;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  h1 {
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h2 {
    color: white;
    font-size: large;
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h3 {
    color: white;
    font-size: medium;
    text-align: center;
  }
}