* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  background: black;
}

header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  background: rgba(0, 0, 0, 0.904);
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: white;
  user-select: none;
  pointer-events: none;
}

.navlist {
  display: flex;
}

.navlist a {
  color: white;
  margin-left: 60px;
  font-size: 30px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all 0.55s ease;
}

.navlist a:hover {
  border-bottom: 2px solid white;
}

.container {
  width: 80%;
  height: 1420px;
  background: rgba(29, 29, 29, 0.5);
  margin: auto;
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 10px;
}

.item {
  background: rgb(0, 0, 0);
  flex: none;
  width: 445px;
  height: 650px;
  margin: 2%;
  border-radius: 10px;

  display: flex;
  justify-content: start;
  align-items: start;
  padding: 10px 0;
  box-shadow: #000000 0px 0px 10px;
  -webkit-user-drag: none;

  &:last-child() {
    margin-right: auto;
  }
}

.podz {
  width: 450px;
  height: auto;
  margin-top: -30px;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
}

.budz {
  width: 250px;
  height: auto;
  margin-top: 30px;
  margin-left: 100px;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
}

.max {
  width: 300px;
  height: auto;
  margin-top: 30px;
  margin-left: 80px;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
}

.pen {
  width: 350px;
  height: auto;
  margin-top: 30px;
  margin-left: 50px;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
}

.títulos {
  position: absolute;
  color: white;
  font-size: xx-large;

  display: flex;
  align-items: start;
  padding: 375px 50px;
  padding-bottom: 0;
  user-select: none;
  -webkit-user-drag: none;
}

.precios {
  position: absolute;
  color: white;
  font-size: large;

  display: flex;
  align-items: start;
  padding: 425px 50px;
  padding-bottom: 0;
  user-select: none;
  -webkit-user-drag: none;
}

.compra {
  background: rgba(81, 81, 81, 0.5);
  position: absolute;
  font-size: large;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 475px;
  margin-left: 100px;
  width: 250px;
  height: 50px;
  border-radius: 10px;

  font-size: x-large;
  font-weight: bold;
}

.paypal-methods {
  position: absolute;
  font-size: large;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 545px;
  margin-left: 100px;
  width: 250px;
  height: 25px;
  border-radius: 10px;

  font-size: x-large;
  font-weight: bold;
  pointer-events: none;
  -webkit-user-drag: none;
}

.paypal-tecno {
  color: white;
  position: absolute;
  font-size: large;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 575px;
  margin-left: 120px;
  z-index: 1;

  font-size: large;
  font-weight: 300;
  pointer-events: none;
  -webkit-user-drag: none;
}

.paypal-tecno img {
  margin-left: 5px;
  margin-top: 5px;
  height: 25px;
  pointer-events: none;
  -webkit-user-drag: none;
}

.compra:hover {
  box-shadow: #444444 0px 0px 20px;
}

.compra a {
  color: white;
}

.contac {
  color: white;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding-bottom: 50px;
  pointer-events: none;
  -webkit-user-drag: none;
}

.problemas {
  margin-right: 10px;
  font-weight: bold;
  pointer-events: none;
  -webkit-user-drag: none;
}

.email {
  color: white;
  font-weight: bold;
  margin-left: 10px;
}

/* Movil */
@media (max-width: 700px) {
  .compra:hover {
    box-shadow: transparent;
  }
  .container {
    width: 66%;
    height: 100%;
    background: rgba(29, 29, 29, 0.5);
    margin-left: 16%;
    margin-top: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
  }
  .navlist a {
    display: flex;
    position: relative;
    color: white;
    left: 150%;
    margin-left: 20%;
    margin-right: 0;
    font-size: 200%;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all 0.55s ease;
  }
  .navlist a:hover {
    border-bottom: 2px solid transparent;
  }
  .logo {
    font-size: 150%;
    margin-left: 5%;
    font-weight: 700;
    color: white;
    user-select: none;
    pointer-events: none;
  }
  header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    background: rgba(0, 0, 0, 0.904);
  }
  .item {
    flex: none;
    width: 96.5%;
    height: 30%;
    margin: 2%;
    border-radius: 10px;

    display: flex;
    justify-content: start;
    align-items: start;
    padding: 10px 0;
    box-shadow: #000000 0px 0px 10px;
    -webkit-user-drag: none;

    &:last-child() {
      margin-right: auto;
    }
  }
  .podz {
    width: 100%;
    height: auto;
    margin-top: -10%;
    margin-bottom: 40%;
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
  }

  .budz {
    width: 50%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 55%;
    margin-left: 25%;
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
  }

  .max {
    width: 50%;
    height: auto;
    margin-top: 5%;
    margin-left: 26%;
    margin-bottom: 64%;
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
  }

  .pen {
    width: 65%;
    height: auto;
    margin-top: 5%;
    margin-left: 15%;
    margin-bottom: 37%;
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
  }
  .títulos {
    position: absolute;
    color: white;
    font-size: large;

    display: flex;
    align-items: start;
    padding-top: 46%;
    padding-left: 5%;
    padding-bottom: 0;
    user-select: none;
    -webkit-user-drag: none;
  }
  .precios {
    position: absolute;
    color: white;
    font-size: medium;

    display: flex;
    align-items: start;
    padding-top: 52%;
    padding-left: 5%;
    padding-bottom: 0;
    user-select: none;
    -webkit-user-drag: none;
  }
  .compra {
    background: rgba(81, 81, 81, 0.5);
    position: absolute;
    font-size: large;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 59%;
    margin-left: 17%;
    width: 30%;
    height: 3%;
    border-radius: 10px;

    font-size: small;
    font-weight: bold;
  }
  .paypal-methods {
    position: absolute;
    font-size: large;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 65%;
    margin-left: 22%;
    width: 20%;
    height: 25px;
    border-radius: 10px;

    font-size: x-large;
    font-weight: bold;
    pointer-events: none;
    -webkit-user-drag: none;
  }
  .paypal-tecno {
    color: white;
    position: absolute;
    font-size: large;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 69%;
    margin-left: 12%;
    z-index: 1;

    font-size: small;
    font-weight: 300;
    pointer-events: none;
    -webkit-user-drag: none;
  }

  .paypal-tecno img {
    margin-left: 2%;
    margin-top: 2%;
    width: 25%;
    pointer-events: none;
    -webkit-user-drag: none;
  }
  .contac {
    color: white;
    font-weight: 400;
    margin-left: 30%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    padding-bottom: 10%;
    pointer-events: none;
    -webkit-user-drag: none;
  }

  .problemas {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 0;
    font-weight: bold;
    pointer-events: none;
    -webkit-user-drag: none;
  }

  .texto {  
    display: inline-block;
    white-space: nowrap;
    margin-left: -27%;
  }

  .email {
    color: white;
    font-weight: bold;
    margin-left: -5%;
    margin-top: 2%;
  }
}
